@import 'https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&family=Lexend+Tera&family=Archivo+Black&family=Josefin+Sans&display=swap';
:root {
  --orange: #ff4136;
  --yellow: #e9c46a;
  --mainBg: rgb(248, 248, 248);
}
html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: transparent;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-bottom: auto;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.navbar {
  width: 100vw;
  height: 50px;
  margin: 0;
  background: black;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  animation: waves 8s infinite;
}

#name {
  padding: 0.5em;
  letter-spacing: 1px;
  font-style: bold;
  font-size: 30px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 1;
  animation: waves 8s ease-out 0s alternate infinite;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.navbar ul > li {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 800;
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 2em;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'work sans', sans-serif;
}

.navbar a:hover {
  animation: waves 2s ease-out 0s alternate infinite;
}
.dropNav {
  float: left;
  margin-left: 2vw;
  overflow: hidden;
  display: none;
  margin-right: 2vw;
  font-family: 'work sans', sans-serif;
}

#dropbtn {
  background-color: transparent;
  font-size: 25px;
  margin-right: 1vw;
}
.dropNav p {
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Arial', sans-serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 100vw;
  z-index: 1;
  color: white;
  text-align: left;
}
.dropdown-content a {
  padding: 1.5em;
}
.dropNav:hover .dropdown-content {
  display: block;
  color: white;
}

.min-screen {
  color: white;
  font-weight: normal;
  padding: 1em 0px 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
  width: 100vw;
  margin-left: -1em;
}

@keyframes waves {
  0% {
    color: #eee;
  }
  50% {
    color: var(--yellow);
  }
  100% {
    color: var(--orange);
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  box-sizing: border-box;
  font-size: 16px;
  width: 100vw;
  line-height: 1.5em;
}
header {
  display: flex;
  background: url('/images/IMG_0085.jpeg');
  width: 100vw;
  flex-direction: column;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  box-sizing: border-box;
}

#content {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

#content h2 {
  color: white;
  font-family: 'Lexend Tera', sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 0;
  font-size: 2em;
}
#content p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: white;
  position: relative;
  animation: slideup 3s;
}
#content a {
  color: white;
  background: black;
  font-size: 12px;
  width: 200px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  position: relative;
}

#content a:hover {
  background: white;
  color: black;
}
.break {
  height: 2em;
}
.video-js {
  background: black;
}
#my-video {
  width: 100vw;
  height: 100vh;
  display: none;
}
body {
  display: block;
}

#content {
  display: flex;
  flex-direction: column;
}

#my-video {
  height: 100%;
  border: none;
  margin-top: 0;
  margin-bottom: 2em;
}

#credits,
#laurels {
  height: fit-content;
  width: 100vw;
}

#laurels {
  /* background: rgb(226, 102, 20); */
  display: flex;
  background: #e85d04;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  height: auto;
  justify-content: center;
  align-content: center;
}
#laurels > img {
  position: relative;
  justify-self: center;
  align-items:center;
  justify-content: center;

  width: 180px;
  height: 120px;
  padding-left: 1em;
}
#laurels img:nth-child(6) {
  margin-bottom: 1em;
}
#laurels img:nth-child(12) {
  margin-bottom: 50px;

}
#nycdff {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1em;
  height: 200px;
  padding: 0;
}


#nycdff>img {
  width: 300px;
  height: 190px;
}

#crew-container {
  background: var(--mainBg);
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.title > h2 {
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  padding-top: 50px;
}

#crew {
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

#crew .headings {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 300px;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  text-align: right;
  letter-spacing: 3px;
  justify-content: center;
  text-transform: lowercase;
  color: black;
}
.headings:first-child {
  margin-right: 10px;
}

#crew .names {
  width: 50%;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  letter-spacing: 3px;
  opacity: 0.9;
  font-size: 16px;
  padding-right: 1em;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: left;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  font-size: 16px;
  width: 100vw;
  height: auto;
}


#stills {
  background: var(--mainBg);
  padding-top: 25px;
  padding-bottom: 50px;
}

.behindTheScenes {
  position: relative;
  display: flex;
  width: 100vw;
  flex-direction: row;
  box-sizing: border-box;
}

#bts-content {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#img-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 1.5em;
}
#img-container > img {
  display: block;
  width: 100%;
  padding: 1em;
  height: 100%;
  

}
#project-logo {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 50%;
  margin: 1.5em;
  padding: 0;
  overflow: hidden;
}

#img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  margin: auto;
  padding: 0;
  opacity: 0;
  transition: 0.5s ease;
}
#img-container:hover #project-logo {
  opacity: 0.8;
}
#img-container:hover #img-overlay {
  opacity: 1;
  transition: 3s ease;
}

#img-overlay-text {
  color: white;
  font-size: 15px;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  top: 50%;
  left: 50%;
  padding: 1em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}




@media (max-device-width: 750px) {
  body {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
    margin-right: 1.5em;
    align-content: left;
    font-size: 10px;
    padding: 1em;
    height: auto;
  }
  .navbar a {
    font-size: 10px;
    padding-left: 2em;
    color: white;
  }
  #topNav {
    display: none;
  }
  .dropNav {
    display: block;
  }
  .dropNav p {
    color: white;
  }
  #content h2{
    font-size: 1.5em;
    letter-spacing: normal;
  }
  #content p{
    font-size: 14px;
  }
  #crew .headings, #crew .names{
    font-size: 10px;
    letter-spacing: .01em;
  }


  #laurels {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
  }
  #laurels img{
    width:25%;
    height: 25%;
    margin-bottom: 2%;
  }

#laurels img:nth-child(12) {
  margin-bottom: 50px;
  margin-left: 0;
  padding-left: 0;
}

  #nycdff {
    height: 40%;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  #nycdff img{
    width: 40%;
    height: 40%;

  }
  #img-container > img {
    max-width: 150%;
    height:150%;
  
  }

  #img-overlay-text{
    font-size: 10px;
  }
}
@media (max-device-width: 900px) {
  body {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
    margin-right: 1.5em;
    align-content: left;
    font-size: 12px;
    padding: 1em;
    height: auto;
  }
  .navbar a {
    font-size: 12px;
    padding-left: 2em;
    color: white;
  }
  #topNav {
    display: none;
  }
  .dropNav {
    display: block;
  }
  .dropNav p {
    color: white;
  }
  #content h2{
    font-size:20px;
    letter-spacing: 0;
  }
  #content p{
    font-size: 14px;
  }
  .title > h2{
    font-size: 20px;
  }
  #crew .headings, #crew .names{
    font-size: 9px;
    letter-spacing: 0em;
  }

  #laurels {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
  }
  #laurels img{
    width:30%;
    height: 30%;
  }
  #laurels img:nth-child(12) {
    margin-bottom: 2%;
}

  #nycdff {
    height: 50%;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  #nycdff img{
    width: 50%;
    height: 50%;
  }
  #img-container > img {
    max-width: 100%;
    height: 100%;

  }
  #img-overlay-text{
    font-size: 10px;
  }
}

